<div class="row my-4">
  {{ $reverse := .Get "reverse" }}
  {{ $width := default "auto" }} <!-- (.Get "width") -->
  {{ $height := default "auto" }} <!-- (.Get "height") -->
  <div class="col-md-6 col-sm-12 mb-2 {{ cond $reverse `order-2` `` }}" data-aos="flip-down">{{ .Inner }}</div>
  <div class="col-md-6 col-sm-12 d-flex {{ cond $reverse `order-1 justify-content-start` `justify-content-end` }}" data-aos="flip-up">
    <img src="{{ .Get `path` }}"  width="{{ $width }}" height="{{ $height }}" style="max-width: 100%;" loading="lazy" class="d-block" alt="..." />
  </div>
</div>
