<link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css" rel="stylesheet">
<link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator_semanticui.min.css" rel="stylesheet">
{{/*  <link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator_modern.min.css" rel="stylesheet">  */}}
{{/*  <link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator_site.min.css" rel="stylesheet">  */}}
{{/*  <link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator_site_dark.min.css" rel="stylesheet">  */}}